* {
    padding: 100;
    margin:  10;
    box-sizing: border-box;
}
    body{
        background: rgb(219,226,226);
    }
.row{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
}
img{
    max-height: 1100px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 20px;
    width: 1700px;
    height: 900px;
}
.btn1{
     border: none;  
     outline: none;
     height: 50px;
     width: 100%;
     background-color: black;
     color: white;
     border-radius: 4px;
     font-weight: bold;
     align-items: center;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color:black;
    align-items: center;

}
.btn2{
    border: none;  
    outline: none;
    height: 50px;
    width: 100%;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn2:hover{
   background: white;
   border: 1px solid;
   color:black;

}
div1 {
    width: 100px;
    height: 100px;
    display: inline-block;
}

div2 {
    width: 100px;
    height: 100px;
    display: inline-block;
}